[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "packages/structured-haskell-mode"]
	path = packages/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
[submodule "packages/hindent"]
	path = packages/hindent
	url = https://github.com/chrisdone/hindent.git
[submodule "packages/smex"]
	path = packages/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "packages/git-modes"]
	path = packages/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "packages/haskell-docs"]
	path = packages/haskell-docs
	url = https://github.com/chrisdone/haskell-docs.git
[submodule "themes/solarized-emacs"]
	path = themes/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs
[submodule "packages/dash"]
	path = packages/dash
	url = https://github.com/magnars/dash.el
[submodule "packages/auctex-latexmk"]
	path = packages/auctex-latexmk
	url = file:///home/vkleen/src/auctex-latexmk
        branch = my-changes
[submodule "packages/writeroom-mode"]
	path = packages/writeroom-mode
	url = https://github.com/joostkremers/writeroom-mode
[submodule "packages/visual-fill-column"]
	path = packages/visual-fill-column
	url = https://github.com/joostkremers/visual-fill-column
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "packages/yasnippets-latex"]
	path = packages/yasnippets-latex
	url = https://github.com/madsdk/yasnippets-latex
[submodule "packages/dired+"]
	path = packages/dired+
	url = https://github.com/emacsmirror/dired-plus
